:root{
    --primary:#0077b6;
    --secondary:#48cae4;
    --black:#333;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: .5rem;
}

section{
    padding: 7rem 7%;
}

.heading{
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--secondary);
}

.reservation form{
   padding: 2rem;
   border: .2rem solid rgba(0, 0, 0, 0.1);
   border-radius: 1.5rem;
}

.reservation form .container{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.reservation form .container .box{
   flex: 1 1 40rem;
}

.reservation form .container .box p{
   font-size: 1.8rem;
   color: var(--primary);
}

.reservation form .container .box .input{
   font-size: 1.8rem;
   width: 100%;
   padding: 1rem 0;
   margin: 1rem 0;
   border-bottom: .2rem solid rgba(0, 0, 0, 0.1);
   color: var(--black);
}